.buttonPrev,
.buttonNext {
  position: absolute;
  top: 35%;
  transform: translateY(-50%); /* Центрируем кнопки вертикально */
  background-color: #fff; /* Белый фон для контраста */
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.buttonPrev {
  left: 100px; /* Отступ слева */
}

.buttonNext {
  right: 100px; /* Отступ справа */
}
